
        
/* cor da pagina e cor das palavras */

*{    /*tirar a configuraçao do html */
    margin:0;
    padding: 0;
    text-decoration: none;
}

body{
    border: none;
    background: linear-gradient(68.15deg, #0004ff85 16.62%, #3b2930 85.61%);
    /* como todas as palavras são brancas optei por alterar tudo ao mesmo tempo no body. */
    color:#FFF2E7;
}   

/*menu de navegação, topo do site e imagem  */

.cabecalho{
    display: flex;
    flex-direction: row; /*coluna deitada*/
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    background-color: darkslateblue;
}
.imagem-topo{
    height: 72px; /*ao definir a altura a largura
    e definida automaticamente*/
}
.topo-cabecalho{
    display:flex;
    gap:32px; /*defini a distacia dos elementos*/

}
.topo{
    font-family: 'sarala';
    color:#FFF2E7;
    font-weight: 400; /*peso da fonte*/
    font-size:18px; /*tamanho da fonte*/
}
.topo:hover{
    color: chartreuse;
}

/*parte do meio do site*/

.conteudo{
    margin-bottom:48px;

}

.conteudo-principal{
    display: flex;
    flex-direction: row; /*colocar na horizontal*/
    align-items: center; /*alinhar no centro*/
    justify-content: space-around;


} 
.conteudo-escrito{
    display:flex;
    flex-direction: column; /*coluna em pe*/
    gap: 32px;
}
.logoredonda{
    padding: 15px;
    height:400px;
    width:350px ;
    border-radius: 50%;
}
.primeira-frase{
    font-family: 'righteous', cursive;
    font-weight: 400px;
    font-size:64px;
    color:#FFF2E7; 
}
.segunda-frase{
    font-family: 'sarala';
    font-weight: 400px;
    font-size: 24px;
    color:#ecd6c4;
    padding: 2px;
}

.botao{
    background-color: #ffffff;
    height: 25px;
    width: 60PX;
    box-shadow: 4px 5px 4px rgb(144, 241, 124); /*sombra do botao*/
    border-radius:20px;
    font-family: 'righteous', cursive;
    padding: 20px;
}

.botao:hover{
    background-color: rgba(0, 255, 64, 0.918);
}
B{
    color: rgba(0, 0, 0, 0.74);
    font-family: 'sarala';
    font-weight: 400px;
    font-size: 24px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-top: 48px;
}
.titulo{ /*linha apenas em cima do titulo*/
    border-top:2.0px solid #fbff00ef;
    padding-top: 30px;
}
.paragrafo{
    font-family: 'sarala';
    font-weight:30px;
    font-size: 18px;
    color:#ecd6c4;
}
/*final*/

.rodape{
    background-color: darkslateblue ;
    padding:20px;
    height: 30px;
}


